.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(102, 102, 215);
}

input {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.photo-card {
  display: flex;
  flex-direction: column;
  max-width: 24%;
}

img {
  object-fit: contain;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  font-size: 0.6rem;
  text-align: center;
}
