.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(102, 102, 215);
}

input {
  padding: 8px;
  width: 250px;
  outline: none;
  border: none;
}

button {
  padding: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  -webkit-box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
}

img {
  display: flex;
  object-fit: cover;
  height: 210px;
  width: 360px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  font-size: 0.675rem;
  text-align: center;
}

.load-more {
  background-color: rgb(102, 102, 215);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-size: 1rem;
  cursor: pointer;
}
